.horizontalFlip {
  transform: scaleX(-1);
}

.verticalFlip {
  transform: scaleY(-1);
}

.horizontalFlip.verticalFlip {
  transform: 
            scaleX(-1)
            scaleY(-1);
}

.flipperNormalized {
  display: inline-block;
}